<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Application Process</title>
</head>
<body>
    <a href="/mentors"><p>Mentors and schools page [/mentors]</p></a>
    <a href="/all-school"><p>All school page [/all-school]</p></a>
    <a href="/mentors-by-country"><p>Mentors by country page [/mentors-by-country]</p></a>
    <a href="/contacts"><p>Contacts page [/contacts]</p></a>
    <p>Applicants page [/applicants]</p>
    <p>Applicants and mentors page [/applicants-and-mentors]</p>

</body>
</html>